
:root{
    --bg-color:#fcfff7;
    --spinning:#e53d00;
    --spinner:#21a0a0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);

}
.spinner,
 .spinning{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;

}
.spinner{
    background-color: var(--spinner);
    animation: spinner 1s infinite ;
}
@keyframes spinner {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}
.spinning{
    background-color: var(--spinning);
    animation: spinning .5s infinite linear;
}
@keyframes spinning {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    25%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}